/* css style ,made by zgy 2022.08.09 */
/*全局设置*/
*{ margin:0px ; padding:0px;   }

input,button,select,option,textarea{outline: none;} /*去掉聚焦时的蓝框*/
div,ul,li{ list-style-type:none;}

input {-webkit-appearance:none; /*去除input默认样式，尤其是iphone/pad*/}
textarea {-webkit-appearance:none; /*去除input默认样式，尤其是iphone/pad*/}

/* placeholder的颜色 */
.yyui_input input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   color: #cacaca;}
.yyui_input input:-moz-placeholder, textarea:-moz-placeholder {color:#cacaca;}
.yyui_input input::-moz-placeholder, textarea::-moz-placeholder {color:#cacaca;}
.yyui_input input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#cacaca;}


/* 本css分成两大部分：手机端与电脑端 ，分别定义 */
@media screen and (max-width: 1028px){
	/* 手机、pad的样式，基准字号0.9375rem，相当于15px  */
	.yyui_btnbai,   .yyui_btnlan,   .yyui_btnhong,   .yyui_btnlv,   .yyui_btnhuang,   .yyui_btnjinyong, .yyui_input,   .yyui_input_sm,  .yyui_input_jinyong ,.yyui_file_show_part ,	.yyui_textarea,  .yyui_select,  .yyui_checkbox,  .yyui_radio,    .yyui_date , .yyui_datetime ,.yyui_radio_checkbox>val, .yyui_radio_checkbox_lan>val, .yyui_radio_checkbox_lv>val, .yyui_input_leftside_icon  { font-size:0.9375rem;}	
	.yyui_btnbai_sm,   .yyui_btnlan_sm,   .yyui_btnhong_sm,   .yyui_btnlv_sm,   .yyui_btnhuang_sm,   .yyui_btnjinyong_sm { font-size:0.75rem;}	
	.yyui_btnbai_xs,   .yyui_btnlan_xs,   .yyui_btnhong_xs,   .yyui_btnlv_xs,   .yyui_btnhuang_xs,   .yyui_btnjinyong_xs { font-size:0.75rem;}	
	 .yyui_popup .content , .yyui_popup .content.toast-content { font-size:1rem;}
}
@media only screen and (min-width: 1029px){
	/* 电脑PC样式，基准字号13px */
	.yyui_btnbai,   .yyui_btnlan,   .yyui_btnhong,   .yyui_btnlv,   .yyui_btnhuang,   .yyui_btnjinyong, .yyui_input,   .yyui_input_sm,  .yyui_input_jinyong ,.yyui_file_show_part ,	.yyui_textarea,  .yyui_select,  .yyui_checkbox,  .yyui_radio,    .yyui_date , .yyui_datetime ,.yyui_radio_checkbox>val, .yyui_radio_checkbox_lan>val, .yyui_radio_checkbox_lv>val, .yyui_input_leftside_icon  { font-size:13px;}	
	.yyui_btnbai_sm,   .yyui_btnlan_sm,   .yyui_btnhong_sm,   .yyui_btnlv_sm,   .yyui_btnhuang_sm,   .yyui_btnjinyong_sm { font-size:12px;}	
	.yyui_btnbai_xs,   .yyui_btnlan_xs,   .yyui_btnhong_xs,   .yyui_btnlv_xs,   .yyui_btnhuang_xs,   .yyui_btnjinyong_xs { font-size:11px;}	
	 .yyui_popup .content , .yyui_popup .content.toast-content { font-size:16px;}
}



	/*普通按钮****************************************************************************/
	.yyui_btnbai { box-sizing:border-box; border:1px solid #CCCCCC; height:38px;line-height:38px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
	 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle; }
	.yyui_btnbai:hover {background-color:#E6E6E6; border:1px solid #ADADAD; color:#333333; }
	

	.yyui_btnlan {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
	 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlan:hover {background-color:#2E6DA4;  color:#ffffff;}
	
	.yyui_btnhong {box-sizing:border-box;  border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#D9534F;  cursor:pointer;vertical-align:middle; display:inline-block; text-decoration:none;
	  padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhong:hover {background-color:#C9302C;  color:#ffffff;}

	.yyui_btnlv {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
	padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlv:hover {background-color:#449D44;  color:#ffffff;}

	.yyui_btnhuang {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
	padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhuang:hover {background-color:#EC971F;  color:#ffffff;}

	
	.yyui_btnjinyong {box-sizing:border-box;  border:1px solid #E6E6E6; height:38px;line-height:38px; color:#C9C9C9; background-color:#FBFBFB;  cursor:not-allowed;  display:inline-block; text-decoration:none;
	 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
	.yyui_btnjinyong:hover {color:#C9C9C9;}
	
	
	/*小按钮small****************************************************************************/
	.yyui_btnbai_sm {box-sizing:border-box;  border:1px solid #CCCCCC; height:30px;line-height:30px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
	 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
	.yyui_btnbai_sm:hover {background-color:#E6E6E6; border:1px solid #ADADAD;color:#333333; }
	
	.yyui_btnlan_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlan_sm:hover {background-color:#2E6DA4; color:#ffffff; }
	
	.yyui_btnhong_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#D9534F;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhong_sm:hover {background-color:#C9302C; color:#ffffff; }
	
	.yyui_btnlv_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlv_sm:hover {background-color:#449D44; color:#ffffff; }
	
	.yyui_btnhuang_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhuang_sm:hover {background-color:#EC971F; color:#ffffff; }
	
	.yyui_btnjinyong_sm {box-sizing:border-box;  border:1px solid #E6E6E6; height:30px;line-height:30px; color:#C9C9C9; background-color:#FBFBFB;cursor:not-allowed; display:inline-block; text-decoration:none;
	 padding:0px 10px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
	.yyui_btnjinyong_sm:hover {color:#C9C9C9;}
	
	
	/*特小按钮small****************************************************************************/
	.yyui_btnbai_xs {box-sizing:border-box; border:1px solid #CCCCCC; height:22px;line-height:22px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
	 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
	.yyui_btnbai_xs:hover {background-color:#E6E6E6; border:1px solid #ADADAD;color:#333333; }
	
	.yyui_btnlan_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlan_xs:hover {background-color:#2E6DA4; color:#ffffff; }
	
	.yyui_btnhong_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#D9534F;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhong_xs:hover {background-color:#C9302C; color:#ffffff; }
	
	.yyui_btnlv_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnlv_xs:hover {background-color:#449D44; color:#ffffff; }
	
	.yyui_btnhuang_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
	 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_btnhuang_xs:hover {background-color:#EC971F; color:#ffffff; }
	
	.yyui_btnjinyong_xs {box-sizing:border-box; border:1px solid #E6E6E6; height:22px;line-height:22px; color:#C9C9C9; background-color:#FBFBFB;cursor:not-allowed; display:inline-block; text-decoration:none;
	 padding:0px 5px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
	.yyui_btnjinyong_xs:hover {color:#C9C9C9;}
	
	
	/*输入框****************************************************************************/
	.yyui_input{box-sizing:border-box;vertical-align:middle;
		border:1px solid #E6E6E6; padding-left:10px; height:38px;  
		-webkit-border-radius: 2px;  border-radius:2px; outline:none;
	}
	.yyui_input_sm{box-sizing:border-box;vertical-align:middle;
		border:1px solid #E6E6E6; padding-left:8px; height:30px;  
		-webkit-border-radius: 2px;  border-radius:2px; outline:none;
	}
	.yyui_input_jinyong{box-sizing:border-box; vertical-align:middle; cursor:not-allowed; background-color:#F9F9F9; 
		border:1px solid #E6E6E6; padding-left:10px; height:36px;    line-height:36px;
		-webkit-border-radius: 2px;  border-radius:2px; outline:none;
	}
	
	
	/*文件yyui_file ，注意file被隐藏了，定义的css是show_part****************************************************************************/
	.yyui_file_show_part {box-sizing:border-box; cursor:pointer;
		border:1px solid #E6E6E6; padding-left:35px; padding-right:10px; height:38px;  
		-webkit-border-radius: 2px;  border-radius:2px; outline:none;
		 background-color:#FFFFFF; vertical-align:middle;
	}
	

	/*文本域****************************************************************************/
	.yyui_textarea{box-sizing:border-box; resize:none; font-family: "Microsoft YaHei" ! important;
		border:1px solid #E6E6E6; padding:6px 10px; line-height:1.7;   
		-webkit-border-radius: 2px;  border-radius:2px; outline:none; vertical-align:middle;
	}
	/*下拉框****************************************************************************/
	.yyui_select::-ms-expand { display: none;  } /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
	.yyui_select{ box-sizing:border-box; vertical-align:middle;
		/*很关键：将默认的select选择框样式清除*/
		appearance:none;
		-moz-appearance:none;
		-webkit-appearance:none;
		/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
		border:1px solid #E6E6E6; 
		height:38px;
	 
		-webkit-border-radius: 2px;  border-radius:2px; 
		/*在选择框的最右侧中间显示小箭头图片*/
		background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/jiantou.png") no-repeat scroll right center transparent;
		background-color:#FFFFFF;
		/*为下拉小箭头留出一点位置，避免被文字覆盖*/
		padding-right: 24px;padding-left:10px;
	}
	
	
	/*单选框与复选框****************************************************************************/
	.yyui_checkbox , .yyui_radio {  cursor:pointer;   margin-right:8px; }
	.yyui_checkbox input[type=checkbox],
	.yyui_radio input[type=radio] {
		-webkit-appearance: none;
		background-color: transparent;
		outline: 0 !important;
		border: 0;
		margin-right:0px;
	}
	.yyui_checkbox input[type=checkbox]:before,	.yyui_radio input[type=radio]:before {
		display:inline-block;
		font-family:FontAwesome;
		color:#61646D;
		font-size:18px;
		overflow:hidden;
		width:18px;
		height:17px;
		padding:0px 0px 0px 1px;
		vertical-align:bottom;
	}
	.yyui_checkbox input[type=checkbox]:checked:before,.yyui_radio input[type=radio]:checked:before {color:#1E9FFF;} /*蓝色默认*/
	.yyui_checkbox_hong input[type=checkbox]:checked:before,.yyui_radio_hong input[type=radio]:checked:before {color:#ff0000;}  /*正红*/
	.yyui_checkbox_danger input[type=checkbox]:checked:before,.yyui_radio_danger input[type=radio]:checked:before {color:#FF5722;}  /*警告红*/
	.yyui_checkbox_huang input[type=checkbox]:checked:before,.yyui_radio_huang input[type=radio]:checked:before {color:#FFB800;}  /*黄色*/
	.yyui_checkbox_lv input[type=checkbox]:checked:before,.yyui_radio_lv input[type=radio]:checked:before {color:#009688;}  /*绿色*/
	.yyui_checkbox input[type=checkbox]:before { content: "\f096";}
	.yyui_checkbox input[type=checkbox]:checked:before { content: "\f14a";}
	.yyui_radio input[type=radio]:before {content: "\f1db";}
	.yyui_radio input[type=radio]:checked:before {content: "\f192";}






/*宇云单选框复选框美化，按钮小对号形式，默认红色*/
.yyui_radio_checkbox {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_radio_checkbox>input {	position:absolute;	top:0;	left:-20px;}
.yyui_radio_checkbox>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_radio_checkbox>input:checked + val {	border:#C9302C solid 1px;	color:#C9302C;	background-color:#FFFfff;}
.yyui_radio_checkbox>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#C9302C;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_radio_checkbox>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}

/*宇云单选框复选框美化，按钮小对号形式，蓝色*/
.yyui_radio_checkbox_lan {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_radio_checkbox_lan>input {	position:absolute;	top:0;	left:-20px;}
.yyui_radio_checkbox_lan>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_radio_checkbox_lan>input:checked + val {	border:#2E6DA4 solid 1px;	color:#2E6DA4;	background-color:#FFFfff;}
.yyui_radio_checkbox_lan>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#2E6DA4;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_radio_checkbox_lan>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}

/*宇云单选框复选框美化，按钮小对号形式，绿色*/
.yyui_radio_checkbox_lv {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_radio_checkbox_lv>input {	position:absolute;	top:0;	left:-20px;}
.yyui_radio_checkbox_lv>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center; 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_radio_checkbox_lv>input:checked + val {	border:#449D44 solid 1px;	color:#449D44;	background-color:#FFFfff;}
.yyui_radio_checkbox_lv>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#449D44;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_radio_checkbox_lv>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}


	
	/*选项卡_默认样式****************************************************************************/
	.yyui_tab ul{list-style:none;display:table;}
	.yyui_tab ul li{float:left; line-height:40px;padding:0px 20px;border:1px solid #E6E6E6;margin-right:-1px;cursor:pointer; background-color:#FFFFFF;}
	.yyui_tab ul li.active{ font-weight:bold; border-bottom:1px solid #ffffff;;}
	.yyui_tab .content{border:1px solid #E6E6E6;padding:10px; margin-top:-1px;}
	.yyui_tab .content>div{display:none; line-height:2;}
	.yyui_tab .content>div.active{display:block;}

	
	
	/*徽章，未读数，小圆点****************************************************************************/
	.yyui_badge { display:inline-block; line-height:21px; color:#ffffff; background-color:#FF5722; margin-left:4px; 
	font-size:11px; padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
	.yyui_badge_dot { display:inline-block; color:#FF5722; font-size:1.4em; line-height:0.8; margin-left:4px;  }
	
	
	/*日期框****************************************************************************/
	.yyui_date , .yyui_datetime {box-sizing:border-box;
		border:1px solid #E6E6E6; padding-left:10px; height:38px;  
		-webkit-border-radius: 2px;  border-radius:2px; outline:none;
		background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent; background-color:#FFFFFF;
	}
	
	/* yyui_date 日期控件 */
	.dw{position:absolute;top:5%;left:0;z-index:1999999999;color:#000;font-family:arial,verdana,sans-serif; text-shadow:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-ms-touch-action:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.dwi{position:static;margin:5px;display:inline-block}.dwwr{min-width:170px;zoom:1;padding:0 10px;text-align:center}.dw-persp,.dwo{width:100%;height:100%;position:absolute;top:0;left:0;z-index:1999999999}.dwo{background:#000;opacity:.7;filter:Alpha(Opacity=70)}.dw-bubble .dw{margin:20px 0}.dw-bubble .dw-arrw{position:absolute;left:0;width:100%}.dw-bubble-top .dw-arrw{bottom:-36px}.dw-bubble-bottom .dw-arrw{top:-36px}.dw-bubble .dw-arrw-i{margin:0 30px;position:relative;height:36px}.dw-bubble .dw-arr{display:block}.dw-arr{display:none;position:absolute;left:0;width:0;height:0;border-width:18px 18px;border-style:solid;margin-left:-18px}.dw-bubble-bottom .dw-arr{top:0;border-color:transparent transparent #fff transparent}.dw-bubble-top .dw-arr{bottom:0;border-color:#fff transparent transparent transparent}.dwc{float:none;margin:0 2px 5px 2px;padding-top:30px;display:inline-block}.dwcc{clear:both}.dwl{text-align:center;line-height:30px;height:30px;white-space:nowrap;position:absolute;top:-30px;width:100%}.dwv{padding:10px 0;border-bottom:1px solid #000}.dwrc{-webkit-border-radius:3px;border-radius:3px}.dwwc{margin:0;padding:0 2px;position:relative;background:#000;zoom:1}.dwwl{margin:4px 2px;position:relative;z-index:5}.dww{margin:0 2px;overflow:hidden;position:relative}.dwsc .dwwl{background:#888;background:linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.35,#333),color-stop(0.50,#888),color-stop(0.65,#333),to(#000));background:-moz-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%);background:-o-linear-gradient(#000 0,#333 35%,#888 50%,#333 65%,#000 100%)}.dwsc .dww{color:#fff;background:#444;background:linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.45,#444),color-stop(0.55,#444),to(#000));background:-moz-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%);background:-o-linear-gradient(#000 0,#444 45%,#444 55%,#000 100%)}.dw-bf{-webkit-perspective:1000;-webkit-backface-visibility:hidden}.dw-ul{position:relative;z-index:2}.dw-li{padding:0 5px;display:block;text-align:center;line-height:40px;font-size:26px;white-space:nowrap;text-shadow:0 1px 1px #000;vertical-align:bottom;opacity:.3;filter:Alpha(Opacity=30)}.dw-li.dw-hl{background:#fff;background:rgba(255,255,255,.3)}.dw-li.dw-v{opacity:1;filter:Alpha(Opacity=100)}.dw-li.dw-h{visibility:hidden}.dw-i{position:relative;height:100%}.dwwb{position:absolute;z-index:4;left:0;cursor:pointer;width:100%;height:40px;text-align:center;opacity:1;transition:opacity .2s linear;-webkit-transition:opacity .2s linear}.dwa .dwwb{opacity:0}.dwwbp{top:0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;font-size:40px}.dwwbm{bottom:0;-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;font-size:32px;font-weight:bold}.dwpm .dwwc{background:transparent}.dwpm .dww{margin:0}.dwpm .dw-li{text-shadow:none}.dwpm .dwwol{display:none}.dwwo{position:absolute;z-index:3;top:0;left:0;width:100%;height:100%;background:linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-webkit-gradient(linear,left bottom,left top,from(#000),color-stop(0.52,rgba(44,44,44,0)),color-stop(0.48,rgba(44,44,44,0)),to(#000));background:-moz-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%);background:-o-linear-gradient(#000 0,rgba(44,44,44,0) 52%,rgba(44,44,44,0) 48%,#000 100%)}.dwwol{position:absolute;z-index:1;top:50%;left:0;width:100%;height:0;margin-top:-1px;border-top:1px solid #333;border-bottom:1px solid #555}.dwbg .dwb{cursor:pointer;overflow:hidden;display:block;height:40px;line-height:40px;padding:0 15px;margin:0 2px;font-size:0.8125rem;font-weight:bold;text-decoration:none;text-shadow:0 -1px 1px #000;border-radius:5px;box-shadow:0 1px 3px rgba(0,0,0,0.5);color:#fff;background:#000;background:linear-gradient(#6e6e6e 50%,#000 50%);background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#000),color-stop(0.5,#6e6e6e));background:-moz-linear-gradient(#6e6e6e 50%,#000 50%);background:-o-linear-gradient(#6e6e6e 50%,#000 50%);white-space:nowrap;text-overflow:ellipsis;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-border-radius:5px}.dwbc span:first-child .dwb{background-color:#2e6da4;color:#fff}.dwbc{padding:5px 0;text-align:center;clear:both}.dwbc:after{content:'';display:block;clear:both}.dwbw{display:inline-block;float:left;width:50%;position:relative;z-index:5}.dwbc-p .dwbw{width:33.33%}.dwhl{padding-top:10px}.dwhl .dwl{display:none}.dwms .dwwms .dw-li{padding:0 40px;position:relative}
	.dwms .dw-msel:after{width:40px;text-align:center;position:absolute;top:0;left:0;content:'?'}.dwbg{background:#fff;border-radius:3px;-webkit-border-radius:3px}.dwbg .dwpm .dwwl{border:1px solid #aaa}.dwbg .dwpm .dww{color:#000;background:#fff;-webkit-border-radius:3px}.dwbg .dwwb{background:#ccc;color:#888;text-shadow:0 -1px 1px #333;box-shadow:0 0 5px #333;-webkit-box-shadow:0 0 5px #333}.dwbg .dwwbp{background:linear-gradient(#f7f7f7,#bdbdbd);background:-webkit-gradient(linear,left bottom,left top,from(#bdbdbd),to(#f7f7f7));background:-moz-linear-gradient(#f7f7f7,#bdbdbd);background:-o-linear-gradient(#f7f7f7,#bdbdbd)}.dwbg .dwwbm{background:linear-gradient(#bdbdbd,#f7f7f7);background:-webkit-gradient(linear,left bottom,left top,from(#f7f7f7),to(#bdbdbd));background:-moz-linear-gradient(#bdbdbd,#f7f7f7);background:-o-linear-gradient(#bdbdbd,#f7f7f7)}.dwbg .dwb-a{background:#3c7500;background:linear-gradient(#94c840 50%,#3c7500 50%);background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5,#3c7500),color-stop(0.5,#94c840));background:-moz-linear-gradient(#94c840 50%,#3c7500 50%);background:-o-linear-gradient(#94c840 50%,#3c7500 50%)}.dwbg .dwwl .dwb-a{background:#3c7500;background:linear-gradient(#94c840,#3c7500);background:-webkit-gradient(linear,left bottom,left top,from(#3c7500),to(#94c840));background:-moz-linear-gradient(#94c840,#3c7500);background:-o-linear-gradient(#94c840,#3c7500)}.android-ics .dw{padding:0;color:#31b6e7;background:#292829}.android-ics .dw .dwwc,.android-ics .dw .dwwl,.android-ics .dw .dww,.android-ics .dw .dwb,.android-ics .dw .dwpm .dww{background:0}.android-ics .dwwr{padding:0}.android-ics .dwc{margin:0;padding:30px 10px 1px 10px}.android-ics .dwhl{padding:1px 10px}.android-ics .dwv{height:36px;line-height:36px;padding:0;border-bottom:2px solid #31b6e7;font-size:18px}.android-ics .dwwl{margin:0 2px}.android-ics .dww,.android-ics .dw .dwpm .dwwl,.android-ics .dw .dwpm .dww{border:0}.android-ics .dww .dw-li{color:#fff;font-size:18px;text-shadow:none}.android-ics .dww .dw-li.dw-hl{background:#31b6e7;background:rgba(49,182,231,.5)}.android-ics .dwwo{background:linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-webkit-gradient(linear,left bottom,left top,from(#282828),color-stop(0.52,rgba(40,40,40,0)),color-stop(0.48,rgba(40,40,40,0)),to(#282828));background:-moz-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%);background:-o-linear-gradient(#282828 0,rgba(40,40,40,0) 52%,rgba(40,40,40,0) 48%,#282828 100%)}.android-ics .dw .dwwb{background:#292829;box-shadow:none;-webkit-box-shadow:none}.android-ics .dwwb span{display:none}.android-ics .dwwb:after{position:absolute;top:50%;left:50%;margin-top:-8px;margin-left:-8px;color:#7e7e7e;width:0;height:0;border-width:8px;border-style:solid;content:''}.android-ics .dwwbm{top:0;bottom:auto}.android-ics .dwwbp{bottom:0;top:auto}.android-ics .dwwbm:after{border-color:transparent transparent #7e7e7e transparent}.android-ics .dwwbp:after{border-color:#7e7e7e transparent transparent transparent}.android-ics .dw .dwwl .dwb-a{background:#292829}.android-ics .dwwbm.dwb-a:after{border-color:transparent transparent #319abd transparent}.android-ics .dwwbp.dwb-a:after{border-color:#319abd transparent transparent transparent}.android-ics .dw .dwwol{width:60%;left:20%;height:36px;border-top:2px solid #31b6e7;border-bottom:2px solid #31b6e7;margin-top:-20px;display:block}.android-ics .dwbc{border-top:1px solid #424542;padding:0}.android-ics .dw .dwb{height:36px;line-height:36px;padding:0;margin:0;font-weight:normal;text-shadow:none;box-shadow:none;border-radius:0;-webkit-border-radius:0;-webkit-box-shadow:none}.android-ics .dw .dwb-a{background:#29799c}.android-ics .dwb-s .dwb,.android-ics .dwb-n .dwb{border-right:1px solid #424542}.android-ics.dw-bottom .dw,.android-ics.dw-top .dw{border-radius:0;-webkit-border-radius:0}.android-ics .dwwms .dwwol{display:none}.android-ics .dwwms .dw-li{padding-left:5px;padding-right:36px}.android-ics .dwwms .dw-li:after{content:'';position:absolute;top:50%;left:auto;right:10px;width:14px;height:14px;margin-top:-9px;color:#31b6e7;line-height:14px;border:1px solid #424542;text-shadow:0 0 5px #29799c}.android-ics .dwwms .dw-msel:after{content:'?'}.android-ics.light .dw{background:#f5f5f5}.android-ics.light .dww .dw-li{color:#000}.android-ics.light .dwwo{background:linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-webkit-gradient(linear,left bottom,left top,from(#f5f5f5),color-stop(0.52,rgba(245,245,245,0)),color-stop(0.48,rgba(245,245,245,0)),to(#f5f5f5));background:-moz-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%);background:-o-linear-gradient(#f5f5f5 0,rgba(245,245,245,0) 52%,rgba(245,245,245,0) 48%,#f5f5f5 100%)}.android-ics.light .dw .dwwb{background:#f5f5f5;color:#f5f5f5}
	.android-ics.light .dwbc{border-top:1px solid #dbdbdb}.android-ics.light .dwb{color:#000}.android-ics.light .dwb-a{color:#fff}.android-ics.light .dwb-s .dwb,.android-ics.light .dwb-n .dwb{border-right:1px solid #dbdbdb}.android-ics .dw-bubble-bottom .dw-arr{border-color:transparent transparent #292829 transparent}.android-ics .dw-bubble-top .dw-arr{border-color:#292829 transparent transparent transparent}.android-ics.light .dw-bubble-bottom .dw-arr{border-color:transparent transparent #f5f5f5 transparent}.android-ics.light .dw-bubble-top .dw-arr{border-color:#f5f5f5 transparent transparent transparent}.android-ics.light .dwwms .dw-li:after{text-shadow:0 0 5px #31b6e7}  
	  




	  
	/*yyui_popup 弹层****************************************************************************/
	/* 弹窗区域*/
	.yyui_popup_area { display: none; }
	/* 遮罩背景 */
	.yyui_popup_mask_bg { position: fixed; width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background-color: black; z-index: 1999999998; top: 0px; left: 0px; }
	/* 元素定义 */
	.yyui_popup { position: fixed; z-index: 1999999999; top: 50%; left: 50%; height:180px;margin-top:-90px;  width:50%; border-radius: 4px;   }
	.yyui_popup .body-panel { position: absolute; width: 100%;  border-radius: 4px; z-index: 1;background: #ffffff; }
	.yyui_popup .body-panel.toast-panel{ position: absolute;color:#fff;background:rgba(0,0,0,0.3); }
	.yyui_popup .btns { height:80px; border-top:1px solid #CCCCCC; padding-top:20px; box-sizing:border-box;  text-align: center;  }
	.yyui_popup .content{ text-align: center;  padding: 30px 20px ;   line-height:30px; }
	.yyui_popup .content.toast-content{padding:0; line-height:40px; }
	




		

/*下面是个性定义****************************************************************************/

.yyui_input_leftside_icon{ /*用于管理后台页面账号密码前输入框左侧的图标*/
box-sizing:border-box; display:block; border-top:1px solid #E6E6E6;border-left:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6; height:38px; line-height:38px;  -webkit-border-radius: 2px;  border-radius:2px; outline:none;  text-align:center; background-color:#FFFFFF; 
}  


