/* yyui2.0  by yuyun 2022.08.09 */
*{ margin:0px ; padding:0px;   }

input,button,select,option,textarea{outline: none;} /*去掉聚焦时的蓝框*/
div,ul,li{ list-style-type:none;}

input {-webkit-appearance:none; /*去除input默认样式，尤其是iphone/pad*/}
textarea {-webkit-appearance:none; /*去除input默认样式，尤其是iphone/pad*/}

/* placeholder的颜色 */
.yyui_input input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   color: #cacaca;}
.yyui_input input:-moz-placeholder, textarea:-moz-placeholder {color:#cacaca;}
.yyui_input input::-moz-placeholder, textarea::-moz-placeholder {color:#cacaca;}
.yyui_input input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#cacaca;}

/* 本css分成两大部分：手机端与电脑端 ，分别定义 */
@media screen and (max-width: 1028px){
	/* 手机、pad */
	.yyui_btnbai,   .yyui_btnlan,   .yyui_btnhong,   .yyui_btnlv,   .yyui_btnhuang,   .yyui_btnjinyong, .yyui_input,   .yyui_input_sm,  .yyui_input_jinyong ,.yyui_file_show_part ,	.yyui_textarea,  .yyui_select,  .yyui_checkbox,  .yyui_radio,    .yyui_date , .yyui_datetime ,.yyui_radio_checkbox>val, .yyui_radio_checkbox_lan>val, .yyui_radio_checkbox_lv>val, .yyui_input_leftside_icon  { font-size:13px;}	
	.yyui_btnbai_sm,   .yyui_btnlan_sm,   .yyui_btnhong_sm,   .yyui_btnlv_sm,   .yyui_btnhuang_sm,   .yyui_btnjinyong_sm { font-size:13px;}	
	.yyui_btnbai_xs,   .yyui_btnlan_xs,   .yyui_btnhong_xs,   .yyui_btnlv_xs,   .yyui_btnhuang_xs,   .yyui_btnjinyong_xs { font-size:11px;}	
}
@media only screen and (min-width: 1029px){
	/* 电脑PC */
	.yyui_btnbai,   .yyui_btnlan,   .yyui_btnhong,   .yyui_btnlv,   .yyui_btnhuang,   .yyui_btnjinyong, .yyui_input,   .yyui_input_sm,  .yyui_input_jinyong ,.yyui_file_show_part ,	.yyui_textarea,  .yyui_select,  .yyui_checkbox,  .yyui_radio,    .yyui_date , .yyui_datetime ,.yyui_radio_checkbox>val, .yyui_radio_checkbox_lan>val, .yyui_radio_checkbox_lv>val, .yyui_input_leftside_icon  { font-size:13px;}	
	.yyui_btnbai_sm,   .yyui_btnlan_sm,   .yyui_btnhong_sm,   .yyui_btnlv_sm,   .yyui_btnhuang_sm,   .yyui_btnjinyong_sm { font-size:13px;}	
	.yyui_btnbai_xs,   .yyui_btnlan_xs,   .yyui_btnhong_xs,   .yyui_btnlv_xs,   .yyui_btnhuang_xs,   .yyui_btnjinyong_xs { font-size:11px;}	
}


/*栅格*/
.yyui-row:after,.yyui-row:before{content:"";display:block;clear:both}  /* 外层容器yyui-row*/
.yyui-top {vertical-align:top;} /*外层容器内的元素（即各栅格列）靠上对齐*/
.yyui-left{text-align:left; box-sizing:border-box; }
.yyui-left5{text-align:left; box-sizing:border-box; padding-left:5px; }
.yyui-left8{text-align:left; box-sizing:border-box; padding-left:8px; }
.yyui-right{text-align:right; box-sizing:border-box; }
.yyui-right5{text-align:right; box-sizing:border-box; padding-right:5px; }
.yyui-right8{text-align:right; box-sizing:border-box; padding-right:8px; }
@media screen and (max-width: 1028px){
	/* 手机、pad */
	.yyui-m0{ float:left; display:none;}
	.yyui-m1{ float:left; display:inline-block; width:4.166%;}
	.yyui-m2{ float:left; display:inline-block; width:8.333%;}
	.yyui-m3{ float:left; display:inline-block; width:12.5%;}
	.yyui-m4{ float:left; display:inline-block; width:16.666%;}
	.yyui-m5{ float:left; display:inline-block; width:20.833%;}
	.yyui-m6{ float:left; display:inline-block; width:25%;}
	.yyui-m7{ float:left; display:inline-block; width:29.166%;}
	.yyui-m8{ float:left; display:inline-block; width:33.333%;}
	.yyui-m9{ float:left; display:inline-block; width:37.5%;}
	.yyui-m10{ float:left; display:inline-block; width:41.666%;}
	.yyui-m11{ float:left; display:inline-block; width:45.833%;}
	.yyui-m12{ float:left; display:inline-block; width:50%;}
	.yyui-m13{ float:left; display:inline-block; width:54.166%;}
	.yyui-m14{ float:left; display:inline-block; width:58.333%;}
	.yyui-m15{ float:left; display:inline-block; width:62.5%;}
	.yyui-m16{ float:left; display:inline-block; width:66.666%;}
	.yyui-m17{ float:left; display:inline-block; width:70.833%;}
	.yyui-m18{ float:left; display:inline-block; width:75%;}
	.yyui-m19{ float:left; display:inline-block; width:79.166%;}
	.yyui-m20{ float:left; display:inline-block; width:83.333%;}
	.yyui-m21{ float:left; display:inline-block; width:87.5%;}
	.yyui-m22{ float:left; display:inline-block; width:91.666%;}
	.yyui-m23{ float:left; display:inline-block; width:95.833%;}
	.yyui-m24{ float:left; display:inline-block; width:100%;}
}
@media only screen and (min-width: 1029px){
	/* 电脑PC */
	.yyui-pc0{ float:left; display:none;}
	.yyui-pc1{ float:left; display:inline-block; width:4.166%;}
	.yyui-pc2{ float:left; display:inline-block; width:8.333%;}
	.yyui-pc3{ float:left; display:inline-block; width:12.5%;}
	.yyui-pc4{ float:left; display:inline-block; width:16.666%;}
	.yyui-pc5{ float:left; display:inline-block; width:20.833%;}
	.yyui-pc6{ float:left; display:inline-block; width:25%;}
	.yyui-pc7{ float:left; display:inline-block; width:29.166%;}
	.yyui-pc8{ float:left; display:inline-block; width:33.333%;}
	.yyui-pc9{ float:left; display:inline-block; width:37.5%;}
	.yyui-pc10{ float:left; display:inline-block; width:41.666%;}
	.yyui-pc11{ float:left; display:inline-block; width:45.833%;}
	.yyui-pc12{ float:left; display:inline-block; width:50%;}
	.yyui-pc13{ float:left; display:inline-block; width:54.166%;}
	.yyui-pc14{ float:left; display:inline-block; width:58.333%;}
	.yyui-pc15{ float:left; display:inline-block; width:62.5%;}
	.yyui-pc16{ float:left; display:inline-block; width:66.666%;}
	.yyui-pc17{ float:left; display:inline-block; width:70.833%;}
	.yyui-pc18{ float:left; display:inline-block; width:75%;}
	.yyui-pc19{ float:left; display:inline-block; width:79.166%;}
	.yyui-pc20{ float:left; display:inline-block; width:83.333%;}
	.yyui-pc21{ float:left; display:inline-block; width:87.5%;}
	.yyui-pc22{ float:left; display:inline-block; width:91.666%;}
	.yyui-pc23{ float:left; display:inline-block; width:95.833%;}
	.yyui-pc24{ float:left; display:inline-block; width:100%;}
}


/*普通按钮****************************************************************************/
.yyui_btnbai { box-sizing:border-box; border:1px solid #CCCCCC; height:38px;line-height:38px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle; }
.yyui_btnbai:hover {background-color:#E6E6E6; border:1px solid #ADADAD; color:#333333; }


.yyui_btnlan {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlan:hover {background-color:#2E6DA4;  color:#ffffff;}

.yyui_btnhong {box-sizing:border-box;  border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#D9534F;  cursor:pointer;vertical-align:middle; display:inline-block; text-decoration:none;
  padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhong:hover {background-color:#C9302C;  color:#ffffff;}

.yyui_btnlv {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlv:hover {background-color:#449D44;  color:#ffffff;}

.yyui_btnhuang {box-sizing:border-box; border:0 none; height:38px;line-height:38px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle; display:inline-block; text-decoration:none;
padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhuang:hover {background-color:#EC971F;  color:#ffffff;}


.yyui_btnjinyong {box-sizing:border-box;  border:1px solid #E6E6E6; height:38px;line-height:38px; color:#C9C9C9; background-color:#FBFBFB;  cursor:not-allowed;  display:inline-block; text-decoration:none;
 padding:0px 18px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
.yyui_btnjinyong:hover {color:#C9C9C9;}


/*小按钮small****************************************************************************/
.yyui_btnbai_sm {box-sizing:border-box;  border:1px solid #CCCCCC; height:30px;line-height:30px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
.yyui_btnbai_sm:hover {background-color:#E6E6E6; border:1px solid #ADADAD;color:#333333; }

.yyui_btnlan_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlan_sm:hover {background-color:#2E6DA4; color:#ffffff; }

.yyui_btnhong_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#D9534F;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhong_sm:hover {background-color:#C9302C; color:#ffffff; }

.yyui_btnlv_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlv_sm:hover {background-color:#449D44; color:#ffffff; }

.yyui_btnhuang_sm {box-sizing:border-box;  border:0 none; height:30px;line-height:30px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 10px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhuang_sm:hover {background-color:#EC971F; color:#ffffff; }

.yyui_btnjinyong_sm {box-sizing:border-box;  border:1px solid #E6E6E6; height:30px;line-height:30px; color:#C9C9C9; background-color:#FBFBFB;cursor:not-allowed; display:inline-block; text-decoration:none;
 padding:0px 10px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
.yyui_btnjinyong_sm:hover {color:#C9C9C9;}


/*特小按钮small****************************************************************************/
.yyui_btnbai_xs {box-sizing:border-box; border:1px solid #CCCCCC; height:22px;line-height:22px; color:#333333; background-color:#ffffff;  cursor:pointer; display:inline-block; text-decoration:none;
 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
.yyui_btnbai_xs:hover {background-color:#E6E6E6; border:1px solid #ADADAD;color:#333333; }

.yyui_btnlan_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#337AB7;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlan_xs:hover {background-color:#2E6DA4; color:#ffffff; }

.yyui_btnhong_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#D9534F;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhong_xs:hover {background-color:#C9302C; color:#ffffff; }

.yyui_btnlv_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#5CB85C;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnlv_xs:hover {background-color:#449D44; color:#ffffff; }

.yyui_btnhuang_xs {box-sizing:border-box; border:0 none; height:22px;line-height:22px; color:#ffffff; background-color:#F0AD4E;  cursor:pointer; vertical-align:middle;display:inline-block; text-decoration:none;
 padding:0px 5px; -moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;}
.yyui_btnhuang_xs:hover {background-color:#EC971F; color:#ffffff; }

.yyui_btnjinyong_xs {box-sizing:border-box; border:1px solid #E6E6E6; height:22px;line-height:22px; color:#C9C9C9; background-color:#FBFBFB;cursor:not-allowed; display:inline-block; text-decoration:none;
 padding:0px 5px;-moz-border-radius: 2px;   -webkit-border-radius: 2px;   border-radius:2px; letter-spacing:0px;vertical-align:middle;}
.yyui_btnjinyong_xs:hover {color:#C9C9C9;}


/*输入框****************************************************************************/
.yyui_input{box-sizing:border-box;vertical-align:middle;
	border:1px solid #E6E6E6; padding-left:10px; height:38px;  line-height:36px;  
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
}
.yyui_input_sm{box-sizing:border-box;vertical-align:middle;
	border:1px solid #E6E6E6; padding-left:8px; height:30px; line-height:28px;  
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
}

.yyui_input_jinyong{box-sizing:border-box; vertical-align:middle; cursor:not-allowed; background-color:#F9F9F9; 
	border:1px solid #E6E6E6; padding-left:10px; height:36px;   
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
}
.yyui_input_jinyong_sm{box-sizing:border-box; vertical-align:middle; cursor:not-allowed; background-color:#F9F9F9; 
	border:1px solid #E6E6E6; padding-left:8px; height:30px;    
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
}


/*文本域****************************************************************************/
.yyui_textarea{box-sizing:border-box; resize:none; font-family: "Microsoft YaHei" ! important;
	border:1px solid #E6E6E6; padding:6px 10px; line-height:1.7;   
	-webkit-border-radius: 2px;  border-radius:2px; outline:none; vertical-align:middle;
}

/*下拉框****************************************************************************/
.yyui_select::-ms-expand { display: none;  } /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.yyui_select{ box-sizing:border-box; vertical-align:middle;
	/*很关键：将默认的select选择框样式清除*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border:1px solid #E6E6E6; 
	height:38px;
 
	-webkit-border-radius: 2px;  border-radius:2px; 
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/jiantou.png") no-repeat scroll right center transparent;
	background-color:#FFFFFF;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding-right: 24px;padding-left:10px;
}

/*小下拉框*/
.yyui_select_sm::-ms-expand { display: none;  } /*清除ie的默认选择框样式清除，隐藏下拉箭头*/
.yyui_select_sm{ box-sizing:border-box; vertical-align:middle;
	/*很关键：将默认的select选择框样式清除*/
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	/*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
	border:1px solid #E6E6E6; 
	height:30px;
 
	-webkit-border-radius: 2px;  border-radius:2px; 
	/*在选择框的最右侧中间显示小箭头图片*/
	background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/jiantou.png") no-repeat scroll right center transparent;
	background-color:#FFFFFF;
	/*为下拉小箭头留出一点位置，避免被文字覆盖*/
	padding-right: 24px;padding-left:10px;
}


 
/*单选框与复选框****************************************************************************/
.yyui_checkbox , .yyui_radio {  cursor:pointer;   margin-right:8px; }
.yyui_checkbox input[type=checkbox],
.yyui_radio input[type=radio] {
	-webkit-appearance: none;
	background-color: transparent;
	outline: 0 !important;
	border: 0;
	margin-right:0px;
}
.yyui_checkbox input[type=checkbox]:before,	.yyui_radio input[type=radio]:before {
	display:inline-block;
	font-family:FontAwesome;
	color:#61646D;
	font-size:18px;
	overflow:hidden;
	width:18px;
	height:17px;
	padding:0px 0px 0px 1px;
	vertical-align:bottom;
}
.yyui_checkbox input[type=checkbox]:checked:before,.yyui_radio input[type=radio]:checked:before {color:#1E9FFF;} /*蓝色默认*/
.yyui_checkbox_hong input[type=checkbox]:checked:before,.yyui_radio_hong input[type=radio]:checked:before {color:#ff0000;}  /*正红*/
.yyui_checkbox_danger input[type=checkbox]:checked:before,.yyui_radio_danger input[type=radio]:checked:before {color:#FF5722;}  /*警告红*/
.yyui_checkbox_huang input[type=checkbox]:checked:before,.yyui_radio_huang input[type=radio]:checked:before {color:#FFB800;}  /*黄色*/
.yyui_checkbox_lv input[type=checkbox]:checked:before,.yyui_radio_lv input[type=radio]:checked:before {color:#009688;}  /*绿色*/
.yyui_checkbox input[type=checkbox]:before { content: "\f096";}
.yyui_checkbox input[type=checkbox]:checked:before { content: "\f14a";}
.yyui_radio input[type=radio]:before {content: "\f1db";}
.yyui_radio input[type=radio]:checked:before {content: "\f192";}



/*【选择框包括单选框radio、复选框checkbox】，按钮小对号形式，默认蓝色*/
.yyui_xzk {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk>input:checked + val {	border:#1E9FFF solid 1px;	color:#1E9FFF;	background-color:#FFFfff;}
.yyui_xzk>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#1E9FFF;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}


/*【选择框包括单选框radio、复选框checkbox】，按钮小对号形式，默认红色*/
.yyui_xzk_hong {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk_hong>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk_hong>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk_hong>input:checked + val {	border:#C9302C solid 1px;	color:#C9302C;	background-color:#FFFfff;}
.yyui_xzk_hong>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#C9302C;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk_hong>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}

/*【选择框包括单选框radio、复选框checkbox】，按钮小对号形式，绿色*/
.yyui_xzk_lv {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk_lv>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk_lv>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center; 	border:#dddddd solid 1px;
	height:36px;	line-height:36px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk_lv>input:checked + val {	border:#449D44 solid 1px;	color:#449D44;	background-color:#FFFfff;}
.yyui_xzk_lv>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#449D44;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk_lv>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}


/* 小_sm【选择框包括单选框radio、复选框checkbox】，默认蓝色*/
.yyui_xzk_sm {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk_sm>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk_sm>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:28px;	line-height:28px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk_sm>input:checked + val {	border:#1E9FFF solid 1px;	color:#1E9FFF;	background-color:#FFFfff;}
.yyui_xzk_sm>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#1E9FFF;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk_sm>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}

.yyui_xzk_hong_sm {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk_hong_sm>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk_hong_sm>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center;	 	border:#dddddd solid 1px;
	height:28px;	line-height:28px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk_hong_sm>input:checked + val {	border:#C9302C solid 1px;	color:#C9302C;	background-color:#FFFfff;}
.yyui_xzk_hong_sm>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#C9302C;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk_hong_sm>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}

.yyui_xzk_lv_sm {	display:block;	float:left;	position:relative;	overflow:hidden;	margin-right:3px;}
.yyui_xzk_lv_sm>input {	position:absolute;	top:0;	left:-20px;}
.yyui_xzk_lv_sm>val {	display:block;	cursor:pointer;	background-color:#ffffff;	border-radius:2px;	padding:0px 15px;	text-align:center; 	border:#dddddd solid 1px;
	height:28px;	line-height:28px;	color:#666666;	user-select:none;	overflow:hidden;	position:relative;}
.yyui_xzk_lv_sm>input:checked + val {	border:#449D44 solid 1px;	color:#449D44;	background-color:#FFFfff;}
.yyui_xzk_lv_sm>input:checked + val:after {content:'';	display:block;	width:20px;	height:20px;	background-color:#449D44;transform:skewY(-45deg);position:absolute;bottom:-10px;right:0;z-index:1;}
.yyui_xzk_lv_sm>input:checked + val:before {content:'';display:block;	width:3px;	height:8px;border-right:#ffffff solid 2px;	border-bottom:#ffffff solid 2px;transform:rotate(35deg);position:absolute;	bottom:2px;	right:4px;z-index:2;}


/*文件yyui_file美化 ，file被隐藏了，定义的css是show****************************************************************************/
.yyui_file_show {box-sizing:border-box; cursor:pointer;font-size:13px;
	border:1px solid #E6E6E6; padding-left:35px; padding-right:10px; height:38px;  
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
	 background-color:#FFFFFF; vertical-align:middle;
}
.yyui_file_show_sm {box-sizing:border-box; cursor:pointer;font-size:13px;
	border:1px solid #E6E6E6; padding-left:35px; padding-right:10px; height:30px;  
	-webkit-border-radius: 2px;  border-radius:2px; outline:none;
	 background-color:#FFFFFF; vertical-align:middle;
}


.layui-input-leftside-icon{ /*用于管理后台页面账号密码前输入框左侧的图标*/
box-sizing:border-box; display:block; border-top:1px solid #E6E6E6;border-left:1px solid #E6E6E6;border-bottom:1px solid #E6E6E6; height:38px; line-height:38px;  -webkit-border-radius: 2px;  border-radius:2px; outline:none;  text-align:center; background-color:#FFFFFF; 
}  

/*栅格*/
@media screen and (max-width: 1028px){
	/* 手机、pad */
	.yyui_m1{ display:inline-block; width:8.3333333%;}
	.yyui_m2{ display:inline-block; width:16.666666%;}
	.yyui_m3{ display:inline-block; width:25%;}
	.yyui_m4{ display:inline-block; width:33.3333333%;}
	.yyui_m5{ display:inline-block; width:41.66666%;}
	.yyui_m6{ display:inline-block; width:50%;}
	.yyui_m7{ display:inline-block; width:58.3333333%;}
	.yyui_m8{ display:inline-block; width:66.666666%;}
	.yyui_m9{ display:inline-block; width:75%;}
	.yyui_m10{ display:inline-block; width:83.3333333%;}
	.yyui_m11{ display:inline-block; width:91.66666%;}
	.yyui_m12{ display:inline-block; width:100%;}
}
@media only screen and (min-width: 1029px){
	/* 电脑PC */
	.yyui_pc1{ display:inline-block; width:8.3333333%;}
	.yyui_pc2{ display:inline-block; width:16.666666%;}
	.yyui_pc3{ display:inline-block; width:25%;}
	.yyui_pc4{ display:inline-block; width:33.3333333%;}
	.yyui_pc5{ display:inline-block; width:41.66666%;}
	.yyui_pc6{ display:inline-block; width:50%;}
	.yyui_pc7{ display:inline-block; width:58.3333333%;}
	.yyui_pc8{ display:inline-block; width:66.666666%;}
	.yyui_pc9{ display:inline-block; width:75%;}
	.yyui_pc10{ display:inline-block; width:83.3333333%;}
	.yyui_pc11{ display:inline-block; width:91.66666%;}
	.yyui_pc12{ display:inline-block; width:100%;}
}


/*对layui的文本输入框补充css */
.layui-input-sm{ height:30px; } /*小输入框，与btn高度保持一致*/
.layui-input-xs{ height:22px; } /*超小输入框*/

.yyui-table , .layui-table  { margin-top:0px; } /*对layui-table清除上margin   */
.yyui-table td {padding:0px 5px;} /*对layui-table的补充，设置td的padding   */

.layui-card-body{ line-height: normal;} /*原版layui定义line-height:24像素，这会让面板内容如ueditor工具栏图标变高，在此修正。   */

/*补充年月日输入框后面的日历图标，好看*/
.nianyueri{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;}
.nianyue{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;}
.nian{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;}
.nianyuerisfm{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;} /*年月日时分秒*/
.nianyuerisf{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;} /*年月日时分*/
.nianyueris{background: url("https://yuyun365.oss-cn-beijing.aliyuncs.com/yyui/v1.0/images/riqi.png") no-repeat scroll right center transparent;} /*年月日时*/


/*yyui_table列拖拽*/
.yyui_table_lie_tuozhuai { position:absolute;right:-1px;top:0;z-index:1;width:10px;height:100%;cursor:col-resize;/* background-color:#006699; 为了调试 */  }

/* 
表格设置td的宽度
td{
    min-width: 150px;
    max-width: 200px;
}
超出长度隐藏
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
*/	